{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "ignorePatterns": ["**.test.js"],
    "extends": ["eslint:recommended"],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": 1,
        "indent": ["warn", 4],
        "no-console": "warn"
    },
    "plugins": ["jest"]

}