@import url("https://fonts.googleapis.com/css2?family=VT323&family=Zen+Dots&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "VT323";
}

$monitor-glow: #2d3a2f;
$monitor-dark: #101510;
$monitor-gradient: radial-gradient($monitor-glow, $monitor-dark);
$text-color: #70b374;
$logo-color: #bec2cb;
$frame-left: #31343c;
$frame-top: #3d404c;
$frame-bottom: #4a4e56;
$frame-right: #565b5f;
$frame-size: 2rem;
$frame-gradient: linear-gradient($frame-top, $frame-right, $frame-bottom) 30;

body {
    background-image: $monitor-gradient;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    color: $text-color;
    #monitor-frame {
        width: inherit;
        height: inherit;
        border: 2.5rem solid;
        border-image: $frame-gradient;
        #monitor-border {
            width: 100%;
            height: 100%;
            padding: 2rem;
            border: calc($frame-size/1.25) solid $frame-left;
            border-right: calc($frame-size/1.25) solid $frame-right;
            border-top: $frame-size solid $frame-top;
            border-bottom: $frame-size solid $frame-bottom;
        }
    }
}

#monitor-line {
    width: 100%;
    height: 100%;
    border: 0.1rem solid $frame-right;
}

.block {
    border: 0.11rem solid $text-color;
    padding: 0.2rem;
    margin: 1rem;
    line-height: 2rem;
    padding-left: 0.75rem;
}

#title {
    background-color: #70b374;
}

h1 {
    color: transparent;
    background-image: $monitor-gradient;
    background-clip: text;
}

h2,
a {
    font-family: "Zen Dots";
    text-decoration: none;
    color: $logo-color;
    text-shadow:
        -1px 1px 0 $frame-left,
        1px 1px 0 $frame-top,
        1px -1px 0 $frame-right,
        -1px -1px 0 $frame-bottom;
    opacity: 50%;
    text-align: center;
    margin: auto;
    padding-top: 0.5rem;
}

@mixin controls {
    background-color: transparent;
    border: 0.11rem solid $text-color;
    color: $text-color;
    padding: 0.1rem;
    padding-left: 0.2rem;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@mixin controls-invert {
    background-color: $text-color;
    color: $monitor-dark;
    outline: none;
}

button, input, select {
    @include controls();
}

select:focus, input:focus {
    transition: all 0.1s ease;
    @include controls-invert()
}

button:hover {
    @include controls-invert();
}

#month, #day {
    width: calc(3ch + 0.2rem);
}

#year {
    width: calc(5ch + 0.2rem);
}